# ------------------------------------
# 1. Entorno Virtual
# ------------------------------------
env/
venv/
ENV/
.venv/
*.pydevproject
.metadata
.gradle
.idea/
.vscode/

# ------------------------------------
# 2. Archivos de Python y Compilados
# ------------------------------------
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# ------------------------------------
# 3. Base de Datos y Seguridad
# ------------------------------------
*.sqlite3
db.sqlite3
settings_local.py
.env
.env.local
.env.*.local

# ------------------------------------
# 4. Archivos de Django
# ------------------------------------
media/
staticfiles/
*.log
local_settings.py

# ------------------------------------
# 5. Archivos de Sistema Operativo
# ------------------------------------
.DS_Store
Thumbs.db
desktop.ini

# ------------------------------------
# 6. Cobertura de Tests
# ------------------------------------
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# ------------------------------------
# 7. Jupyter Notebook
# ------------------------------------
.ipynb_checkpoints

# ------------------------------------
# 8. Celery
# ------------------------------------
celerybeat-schedule
celerybeat.pid

# ------------------------------------
# 9. Otros
# ------------------------------------
*.bak
*.swp
*~